.code{
	position: relative;
	display: block;
}
.code > pre {
	background-color: #f6f8fa;
	padding: 10px;
	border-radius: 5px;
	min-width: 400px;
 }
.button{
	position: absolute;
	top: 5px;
	background-color: rgb(30, 73, 30);
	right: 5px;
}